.buttonDiv{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button {
    background-color: black; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    width: 200px;
    background: #0D0D0D;
    border-radius: 12px;
    padding: 15px;
}
  
